@import "base/reset";
@import "base/variables";

/*Main style*/

body {
  font-size: 12pt;
  font-family: sans-serif;
}

#background {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: rgb(100,150,200);
}

h1 {
  font-family: $clock-font;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 5rem;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 50%);
}

.show {
  display: block;
}

/*Settings Style*/

#background i {
  color: white;
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 20pt;
}

#settings {
  margin-top: 3rem;
  padding: 1rem;
}

#settings input[type="radio"] {
  width: 0;
}

#settings label {
  display: inline-block;
  width: auto;
  box-sizing: border-box;
  background: white;
  font-weight: 700;
  padding: .5rem;
}

#settings input[type="radio"]:checked + label {
  border: 2px solid black;
}
