@import "base/reset";
@import "base/variables";
@import "base/mixins";

/*******

MAIN STYLES

*******/

body {
  font-size: 12pt;
  font-family: sans-serif;
}

#background {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: rgb(100,150,200);
}

h1 {
  font-family: $clock-font;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 8rem;
  position: absolute;
  top: 33%;
  left: 50%;
  margin-right: -50%;
  @include transform(translate(-50%, 50%));
}

/*******

SETTINGS STYLES

*******/

#settings-icon {
  color: white;
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 20pt;
  z-index: 999;
}

#settings {
  margin-top: 3rem;
  padding: 1rem;
  z-index: 999;
  position: fixed;

  .show {
    display: block;
  }

  /*******

    TOGGLE SWITCH; adpated from
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch

  *******/

  /*toggle parent*/
  .switch {
    position: relative;
    display: block;
    width: $toggle-width;
    height: $toggle-height;
    margin-top: 10px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  /*toggle body*/
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    @include transition(.4s);

    /*actual bit that slides*/
    &:before {
      position: absolute;
      height: $toggle-height;
      width: 50%;
      left: 0px;
      bottom: 0px;
      background-color: white;
      @include transition(.4s);
      @include toggle-label('one', 'two')
    }

    /*rounded corners*/
    &.round {
      border-radius: $toggle-curve;

      &:before {
        border-radius: $toggle-curve 0 0 $toggle-curve;
      }
    }
  }

  /*deals with anything that needs to know the on/off state*/
  input {
    /*specific to 'unchecked' state, or when the slider is left*/
    + .slider {

      /*styles the label*/
      &:before {
        position: absolute;
        box-sizing: border-box;
        width: 50%;
        padding-top: 8px;
        text-align: center;
        z-index: 99999;
        font-size: 10pt;
      }
    }

    /*specific to 'checked' state, or when the slider is right*/
    &:checked {
      + .slider {
        background-color: black;

        /*moves the label over when checked*/
        p {
          left: 50%;
        }

        /*slides the slider*/
        &:before {
          @include transform(translateX(100%));
        }

        &.round:before {
          border-radius: 0 $toggle-curve $toggle-curve 0;
        }
      }
    }
  }
}

#settings input[type="radio"] {
  width: 0;
}

/*#settings label {
  display: inline-block;
  width: auto;
  box-sizing: border-box;
  background: white;
  font-weight: 700;
  padding: .5rem;
}*/

#settings input[type="radio"]:checked + label {
  border: 2px solid black;
}
